* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #1B1813;
  color: white;
  margin: 0 auto;
  max-width: 1200px;
}

/* ================================================================================
NAVIGATION
================================================================================ */
nav {
  text-align: right;
  padding: 2rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  font-family: 'Squada One', cursive;
  color: white;
  font-size: 17px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #DD2736;
}


/* ================================================================================
MAIN
================================================================================ */
main {
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  margin: auto;
  margin-top: 5rem;
}

#intro-text-container {
  grid-column: 1;
}

#intro-image-container {
  grid-column: 2;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h1, h3 {
    font-family: 'Philosopher', sans-serif;
}

h3 {
  color: #DD2736;
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

#darth-vader-image {
  width: 50%;
  height: auto;
  margin: auto;
}

#about-me-button {
  color: white;
  border: 1px solid #DD2736;
  background-color: transparent;
  padding: 10px;
  font-weight: 300;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
